*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.log
*.tmp
*.bak
*.swp
*~
gen/
out/
.navigation/
*.nav.json
*.hprof
